body {
    background: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family:fantasy;
}

.container {
    /* padding: 8em 0; */
    padding: 0;
    height: 100vh;
    width: 100%;
    /* min-height: 100%; */

    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */

    background: cornflowerblue;
    

    
}


img {
    object-fit: cover;
    width: 100%;
}





/* h1 {
    display: flex;
    flex-direction: column;

    font-size: 5em;
    margin: 0;
}

p {
    display: flex;

    font-size: 1.3em;
    margin: 0;
} */

/* footer {
    display: flex;
    flex-direction: row;
} */
